@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
:root{
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
body{
    font-family: 'Spartan';
    font-size: 15px;
    max-width: 330px;
    margin: 100px auto;
    background-color: var(--white);
    background-image: 
            url('../images/bg-pattern-top-mobile.svg'),
            url('../images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top 0 left 0, bottom 0 right 0;
    @media screen and (min-width: 1024px){
        max-width: 1200px;
        background-image: 
            url('../images/bg-pattern-top-desktop.svg'),
            url('../images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top 0 left 0, bottom 0 right 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
}
.header{
    text-align: center;
    max-width: 350px;
    @media screen and (min-width: 1024px){
        min-width: 500px;
        margin: 0;
    }
    & h1{
        font-weight: 700;
        color: var(--dark-magenta);
        @media screen and (min-width: 1024px){
            text-align: initial;
            font-size: 3rem;
        }
    }
    & p{
        color: var(--dark-grayish-magenta);
        text-align: initial;
        line-height: 1.5;
        font-weight: 500;
    }
}
.rates{
    @media screen and (min-width: 1024px){
        min-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    & .rated{
        background-color: var(--light-grayish-magenta);
        border-radius: 0.5rem;
        padding: 1rem 1rem 0.25rem 1rem;
        margin-bottom: 1rem;
        text-align: center;
        color: var(--dark-magenta);
        font-weight: 700;
        font-size: 0.8rem;
        @media screen and (min-width: 1024px){
            display: flex;
            justify-content: space-evenly;
            padding: 0.5rem;
            align-items: center;
            min-width: 450px;
            &:nth-of-type(2){
                margin-right: 4rem;
            }
            &:nth-of-type(1){
                margin-right: 8rem;
            }
        }
        & .stars{
            & img{
                margin: 0 0.15rem;
            }
        }
    }
}

.reviews{
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        max-width: 1200px;
    }
    & .review{
        background-color: var(--dark-magenta);
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin-bottom: 1rem;
        font-size: .85rem;
        max-width: 350px;
        @media screen and (min-width: 1024px){
            margin: 1rem;
            &:nth-of-type(2){
                margin-top : 3rem;
            }
            &:nth-of-type(3){
                margin-top : 5rem;
            }
        }
        & .header-review{
            padding-bottom: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & .avatar{
                margin: 0;
                & img{
                    border-radius: 50%;
                    width: 45px;
                    height: auto;
                }
            }
            & .header-review-content{
                margin-left: 1rem;
                & .review-user{
                    color: var(--white);
                    margin-bottom: 0;
                }
                & .review-buyer{
                    color: var(--soft-pink);
                    margin-top: 0.25rem;
                }
            }
        }
        & .review-content{
            color: var(--white); 
            font-weight: 500;
            line-height: 1.5;
            margin-top: 0;
        }
    }
}
