@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Spartan';
  font-size: 15px;
  max-width: 330px;
  margin: 100px auto;
  background-color: var(--white);
  background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top 0 left 0, bottom 0 right 0;
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 1200px;
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top 0 left 0, bottom 0 right 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.header {
  text-align: center;
  max-width: 350px;
}

@media screen and (min-width: 1024px) {
  .header {
    min-width: 500px;
    margin: 0;
  }
}

.header h1 {
  font-weight: 700;
  color: var(--dark-magenta);
}

@media screen and (min-width: 1024px) {
  .header h1 {
    text-align: initial;
    font-size: 3rem;
  }
}

.header p {
  color: var(--dark-grayish-magenta);
  text-align: initial;
  line-height: 1.5;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .rates {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.rates .rated {
  background-color: var(--light-grayish-magenta);
  border-radius: 0.5rem;
  padding: 1rem 1rem 0.25rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--dark-magenta);
  font-weight: 700;
  font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
  .rates .rated {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    align-items: center;
    min-width: 450px;
  }
  .rates .rated:nth-of-type(2) {
    margin-right: 4rem;
  }
  .rates .rated:nth-of-type(1) {
    margin-right: 8rem;
  }
}

.rates .rated .stars img {
  margin: 0 0.15rem;
}

@media screen and (min-width: 1024px) {
  .reviews {
    display: flex;
    align-items: center;
    max-width: 1200px;
  }
}

.reviews .review {
  background-color: var(--dark-magenta);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  font-size: .85rem;
  max-width: 350px;
}

@media screen and (min-width: 1024px) {
  .reviews .review {
    margin: 1rem;
  }
  .reviews .review:nth-of-type(2) {
    margin-top: 3rem;
  }
  .reviews .review:nth-of-type(3) {
    margin-top: 5rem;
  }
}

.reviews .review .header-review {
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reviews .review .header-review .avatar {
  margin: 0;
}

.reviews .review .header-review .avatar img {
  border-radius: 50%;
  width: 45px;
  height: auto;
}

.reviews .review .header-review .header-review-content {
  margin-left: 1rem;
}

.reviews .review .header-review .header-review-content .review-user {
  color: var(--white);
  margin-bottom: 0;
}

.reviews .review .header-review .header-review-content .review-buyer {
  color: var(--soft-pink);
  margin-top: 0.25rem;
}

.reviews .review .review-content {
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  margin-top: 0;
}
